# Data Engineering using Python

### Pandas (Data Frames)

### 1. Create a CSV file with the following data:
#### Name, Age, Gender, Occupation
#### Alice, 25, Female, Engineer
#### Bob, 30, Male, Scientist
#### Charlie, 35, Male, Artist
#### Danielle, 40, Female, Teacher

In [130]:
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "Danielle"],
    "Age": [25, 30, 35, 40],
    "Gender": ["Female", "Male", "Male", "Female"],
    "Occupation": ["Engineer", "Scientist", "Artist", "Teacher"] })

# Save the DataFrame to a CSV file
data.to_csv("data.csv")

### 2. Read the CSV file into a DataFrame using pandas.

In [131]:
import pandas as pd
# Read the CSV file into a DataFrame
read_data = pd.read_csv("data.csv")

# Print the DataFrame
read_data

   Unnamed: 0      Name  Age  Gender Occupation
0           0     Alice   25  Female   Engineer
1           1       Bob   30    Male  Scientist
2           2   Charlie   35    Male     Artist
3           3  Danielle   40  Female    Teacher

### 3. Extract the 'Age' and 'Occupation' columns into a new DataFrame.

In [132]:
new_data=data[['Age','Occupation']]
print(new_data)

   Age Occupation
0   25   Engineer
1   30  Scientist
2   35     Artist
3   40    Teacher

### 4. Try to extract a column that doesn't exist in the DataFrame and observe the error message.

In [133]:
#This code when run it shows this error ( KeyError: "None of [Index(['City'], dtype='object')] are in the [columns]")
#new_data=data[['City']]
#print(new_data)

# So,I used this code, if the column exist in the dataframe it will be printed ,else it will show the message ( The column does't exist)
if 'City' in data.columns:
    data['City']
else:
    print("The 'City' column doesn't exist.")

The 'City' column doesn't exist.

### 5. Assign the value 50 to the entire 'Age' column.

In [134]:
# Read the CSV file into a DataFrame
read_data = pd.read_csv("data.csv")

# Print the DataFrame
print("The real data frame:\n",read_data)

# Assign the value 50 to the entire 'Age' column
read_data["Age"] = 50

# Print the DataFrame
print("\nThe changed data frame:\n",read_data)

The real data frame:
    Unnamed: 0      Name  Age  Gender Occupation
0           0     Alice   25  Female   Engineer
1           1       Bob   30    Male  Scientist
2           2   Charlie   35    Male     Artist
3           3  Danielle   40  Female    Teacher

The changed data frame:
    Unnamed: 0      Name  Age  Gender Occupation
0           0     Alice   50  Female   Engineer
1           1       Bob   50    Male  Scientist
2           2   Charlie   50    Male     Artist
3           3  Danielle   50  Female    Teacher

### 6. Try to assign random values for the Salary.

In [152]:
# Read the CSV file into a DataFrame
data = pd.read_csv("data.csv")

# Print the DataFrame
print("The original data frame:\n",data)

# Add a new column called 'Kids'
data["salary"] = np.random.randint(3000,8000,size=len(data))

# Print the DataFrame
print("\nThe new data frame:\n",data)

The original data frame:
    Unnamed: 0      Name  Age  Gender Occupation
0           0     Alice   25  Female   Engineer
1           1       Bob   30    Male  Scientist
2           2   Charlie   35    Male     Artist
3           3  Danielle   40  Female    Teacher

The new data frame:
    Unnamed: 0      Name  Age  Gender Occupation  salary
0           0     Alice   25  Female   Engineer    7547
1           1       Bob   30    Male  Scientist    5050
2           2   Charlie   35    Male     Artist    3039
3           3  Danielle   40  Female    Teacher    4346

### 7. Add a new column called 'Kids' to the DataFrame with the following values: [2, 4, 0, 5]

In [153]:
# Read the CSV file into a DataFrame
data = pd.read_csv("data.csv")

# Print the DataFrame
print("The original data frame:\n",data)

# Add a new column called 'Kids'
data["Kids"] = [2, 4, 0, 5]

# Print the DataFrame
print("\nThe new data frame:\n",data)

The original data frame:
    Unnamed: 0      Name  Age  Gender Occupation
0           0     Alice   25  Female   Engineer
1           1       Bob   30    Male  Scientist
2           2   Charlie   35    Male     Artist
3           3  Danielle   40  Female    Teacher

The new data frame:
    Unnamed: 0      Name  Age  Gender Occupation  Kids
0           0     Alice   25  Female   Engineer     2
1           1       Bob   30    Male  Scientist     4
2           2   Charlie   35    Male     Artist     0
3           3  Danielle   40  Female    Teacher     5

### 8. Delete the 'Gender' column from the DataFrame.

In [154]:
# Read the CSV file into a DataFrame
data = pd.read_csv("data.csv")

# Print the DataFrame
print("The real data frame:\n",data)

# Drop the 'Gender' column
data=data.drop('Gender',axis=1)

# Print the DataFrame
print("\nThe changed data frame:\n",data)

The real data frame:
    Unnamed: 0      Name  Age  Gender Occupation
0           0     Alice   25  Female   Engineer
1           1       Bob   30    Male  Scientist
2           2   Charlie   35    Male     Artist
3           3  Danielle   40  Female    Teacher

The changed data frame:
    Unnamed: 0      Name  Age Occupation
0           0     Alice   25   Engineer
1           1       Bob   30  Scientist
2           2   Charlie   35     Artist
3           3  Danielle   40    Teacher

### 9. Save the modified DataFrame to a new CSV file.

In [155]:
# Read the CSV file into a DataFrame
data = pd.read_csv("data.csv")

#print the DataFrame
print("The original DataFarme:\n",data)

# Save the DataFrame to a new CSV file
read_data.to_csv("new_data.csv")

The original DataFarme:
    Unnamed: 0      Name  Age  Gender Occupation
0           0     Alice   25  Female   Engineer
1           1       Bob   30    Male  Scientist
2           2   Charlie   35    Male     Artist
3           3  Danielle   40  Female    Teacher

# (Reindexing)

## Exercise for Series reindexing:

### 1. Create a Series with the following data: data = [10, 20, 30, 40, 50]

In [314]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

#Create Series with list of values
data= Series([10,20,30,40,50])

#print the Series
print("The series is:\n",data)

The series is:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

### 2. Assign the following index labels to the Series: index = ['a', 'b', 'c', 'd', 'e']

In [315]:
data=Series([10,20,30,40,50],index=['a','b','c','d','e'])
#print the Series
print(data)

a    10
b    20
c    30
d    40
e    50
dtype: int64

### 3. Get the index of the Series using the index attribute.

In [316]:
get_index=data.index
# Print the index of the Series
print(get_index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

### 4. Create a new index for the Series using the following labels: new_index = ['a', 'b', 'c', 'd', 'e', 'f','g']

In [327]:
#Create a new index for the Series
index=['a','b','c','d','e']
new_index=['a', 'b', 'c', 'd', 'e', 'f','g']

#Print the new index 
print(new_index)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

### 5. Call the reindex method on the Series with the new index and observe the output.

In [328]:
#Create a new index for the Series
new_index=data.reindex(new_index)
#Print the Series with new index 
print(new_index)

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f     NaN
g     NaN
dtype: float64

### 6. Fill in values for the new indexes using a value of your choice.

In [323]:
# The first way 
new_index.fillna(4)

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f     4.0
g     4.0
dtype: float64

In [324]:
# The second way
new_index['f']=4
new_index['g']=4
new_index

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f     4.0
g     4.0
dtype: float64

### 7. Use the ffill method to fill the new indexes with the previous values in the Series.

In [330]:
new_index.ffill()

a    10.0
b    20.0
c    30.0
d    40.0
e    50.0
f    50.0
g    50.0
dtype: float64

## Exercise for DataFrame reindexing:

### 1. Create a DataFrame with the following random values:
### import pandas as pd
### import numpy as np
### np.random.seed(123)
### data = {'A': np.random.randint(1, 10, 5), 'B': np.random.randint(1, 10, 5)}
### df = pd.DataFrame(data)

In [331]:
import pandas as pd
import numpy as np
np.random.seed(123)
data = {'A': np.random.randint(1, 10, 5), 'B': np.random.randint(1, 10, 5)}
df = pd.DataFrame(data)
df

   A  B
0  3  7
1  3  2
2  7  1
3  2  2
4  4  1

### 2. Get the current index and columns of the DataFrame using the index and columns attributes.

In [332]:
d=df.index
print("The index of the dataframe is:\n",d)
c=df.columns
print("\nThe column of the dataframe is:\n",c)

The index of the dataframe is:
 RangeIndex(start=0, stop=5, step=1)

The column of the dataframe is:
 Index(['A', 'B'], dtype='object')

### 3. Create a new index for the DataFrame using the following labels: new_index = ['a', 'b', 'c', 'd', 'e']

In [333]:
new_index = ['a', 'b', 'c', 'd', 'e']

### 4. Call the reindex method on the DataFrame with the new index and observe the output.

In [334]:
new_index= ['a', 'b', 'c', 'd', 'e']
a=df.reindex(new_index)
print(a)

    A   B
a NaN NaN
b NaN NaN
c NaN NaN
d NaN NaN
e NaN NaN

### 5. Fill in values for the new indexes using a value of your choice.

In [337]:
# The first way 
a.fillna(4)

     A    B
a  4.0  4.0
b  4.0  4.0
c  4.0  4.0
d  4.0  4.0
e  4.0  4.0

### 6. Use the ffill method to fill the new indexes with the previous values in the DataFrame's columns.

In [338]:
a.ffill()

    A   B
a NaN NaN
b NaN NaN
c NaN NaN
d NaN NaN
e NaN NaN

# (Selecting Entries)

### Exercise for Series:

### 1. Create a Series with the following data: data = [5, 10, 15, 20, 25, 30], index = ['a', 'b', 'c', 'd', 'e','f']

In [212]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

data=Series(data=[5, 10, 15, 20, 25, 30], index = ['a', 'b', 'c', 'd', 'e','f'])
data

a     5
b    10
c    15
d    20
e    25
f    30
dtype: int64

### 2. Grab the entry with index name 'c' from the Series.

In [214]:
data['c']

15

### 3. Grab entries in the Series with index values ['a', 'c', 'f'].

In [217]:
data[['a','c','f']]

a     5
c    15
f    30
dtype: int64

### 4. Grab entries in the Series based on index logic: entries greater than 15.

In [218]:
data[data>15]

d    20
e    25
f    30
dtype: int64

### 5. replace the value 10 by 100

In [226]:
print("The original Series:\n",data)
new_series=data.replace(10,100)
print("\nThe new Series:\n",new_series)

The original Series:
 a     5
b    10
c    15
d    20
e    25
f    30
dtype: int64

The new Series:
 a      5
b    100
c     15
d     20
e     25
f     30
dtype: int64

## Exercise for DataFrames:

### 1. Create a DataFrame with the following data: data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50], 'C':[100, 200, 300, 400, 500]}, index = ['a', 'b', 'c', 'd', 'e']

In [228]:
data=pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50], 'C':[100, 200, 300, 400, 500]}, index = ['a', 'b', 'c', 'd', 'e'])
data

   A   B    C
a  1  10  100
b  2  20  200
c  3  30  300
d  4  40  400
e  5  50  500

### 2. Grab the row with index label 'c' from the DataFrame.

In [235]:
g=data.loc[['c']]
g

   A   B    C
c  3  30  300

### 3. Grab rows in the DataFrame with index range 'b' to 'e'.

In [236]:
g=data.loc[['b','e']]
g

   A   B    C
b  2  20  200
e  5  50  500

### 4. Grab rows in the DataFrame with index values ['a', 'c', 'e'].

In [237]:
g=data.loc[['a','c','e']]
g

   A   B    C
a  1  10  100
c  3  30  300
e  5  50  500

### 5. Grab rows in the DataFrame based on index logic: rows where the value in column 'A' is greater than 2.

In [250]:
g=data.loc[data['A']>2]
g

   A   B    C
c  3  30  300
d  4  40  400
e  5  50  500

### 6. Grab rows in the DataFrame based on index logic: rows where the value in column 'A' is greater than 2 and 'B' less than 50

In [251]:
g=data.loc[(data['A']>2 )& (data['B']<50)]
g

   A   B    C
c  3  30  300
d  4  40  400

### 7. Drop column 'A' from the data frame

In [256]:
data.drop('A',axis=1)

    B    C
a  10  100
b  20  200
c  30  300
d  40  400
e  50  500

### 8. drop raw 'e' from the data frame

In [259]:
print('The original dataframe:\n',data)
e=data.drop('e')
print('\nThe new dataframe:\n',e)

The original dataframe:
    A   B    C
a  1  10  100
b  2  20  200
c  3  30  300
d  4  40  400
e  5  50  500

The new dataframe:
    A   B    C
a  1  10  100
b  2  20  200
c  3  30  300
d  4  40  400