## Data Engineering 
### Numpy (Series)

### 1. Create a Series using the following data: data = [10, 20, 30, 40, 50]

In [4]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
data=Series([10,20,30,40,50])
print('The series:\n',data)

The series:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

### 2. Assign the following index labels to the Series: index = ['a', 'b', 'c', 'd', 'e']

In [5]:
data=Series([10,20,30,40,50],index=['a','b','c','d','e'])
print('The series:\n',data)

The series:
 a    10
b    20
c    30
d    40
e    50
dtype: int64

### 3. Use index values to select the values of the Series for the labels 'b' and 'e'.

In [20]:
data=Series([10,20,30,40,50],index=['a','b','c','d','e'])
print('The series:\n',data)

b=data['b']
print('\nThe value of index b is:\n',b)

e=data['e']
print('The value of index e is:\n',e)

The series:
 a    10
b    20
c    30
d    40
e    50
dtype: int64

The value of index b is:
 20
The value of index e is:
 50

### 4. Check if the Series contains the value 20 using a boolean array.

In [31]:
data=Series([10,20,30,40,50],index=['a','b','c','d','e'])
print('The series:\n',data)

boolean_array = np.isin(data, [20])
print('\nThe boolean array:\n', boolean_array)

The series:
 a    10
b    20
c    30
d    40
e    50
dtype: int64

The boolean array:
 [False  True False False False]

### 5. Check if the Series contains the values 15 and 20 using a boolean array.

In [32]:
data=Series([10,20,30,40,50],index=['a','b','c','d','e'])
print('The series:\n',data)

boolean_array = np.isin(data, [15,20])
print('\nThe boolean array:\n', boolean_array)

The series:
 a    10
b    20
c    30
d    40
e    50
dtype: int64

The boolean array:
 [False  True False False False]

### 6. Add the value 5 to each element of the Series using array operations.

In [33]:
data=Series([10,20,30,40,50],index=['a','b','c','d','e'])
print('The series:\n',data)

new_data=data+5
print('The new series:\n',new_data)

The series:
 a    10
b    20
c    30
d    40
e    50
dtype: int64
The new series:
 a    15
b    25
c    35
d    45
e    55
dtype: int64

### 7. Convert the Series into a Python dictionary and check its values.

In [37]:
dictionary = data.to_dict()
print('The dictionary:\n', dictionary)

The dictionary:
 {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

### 8. Pass a dictionary to the Series constructor and assign the following keys and values:
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [39]:
s=pd.Series(dictionary)
print('The series of a dictionary:\n', s)

The series of a dictionary:
 a    10
b    20
c    30
d    40
e    50
dtype: int64

### 9. Check if any values in the Series are null or not null using isnull() and notnull() methods.

In [43]:
series_isnull=pd.isnull(s)
print('The series with isnull function : \n',series_isnull)
series_notnull=pd.notnull(s)
print('The series with notnull function: \n',series_notnull)

The series with isnull function :
 a    False
b    False
c    False
d    False
e    False
dtype: bool
The series with notnull function:
 a    True
b    True
c    True
d    True
e    True
dtype: bool

### 10. Create another Series using the following data: data2 = [20, 30, 40, 50, 60]

In [46]:
data2=pd.Series([20, 30, 40, 50, 60])
print(data2)

0    20
1    30
2    40
3    50
4    60
dtype: int64

### 11. Assign the following index labels to the second Series: index2 = ['b', 'c', 'd', 'e', 'f']

In [47]:
data2=Series([10,20,30,40,50],index=['b','c','d','e','f'])
print('The series:\n',data2)

The series:
 b    10
c    20
d    30
e    40
f    50
dtype: int64

### 12. Add the two Series together and observe how pandas automatically aligns the data based on their index labels.

In [51]:
print('The data:\n',new_data)
print('\nThe data2:\n',data2)
merge_series=new_data+data2
print('\nThe merged series',merge_series)

The data:
 a    15
b    25
c    35
d    45
e    55
dtype: int64

The data2:
 b    10
c    20
d    30
e    40
f    50
dtype: int64

The merged series a     NaN
b    35.0
c    55.0
d    75.0
e    95.0
f     NaN
dtype: float64

### 13. Use the unique() method to find the unique values in the Series.

In [62]:
unique_values = data2.unique()

print(data2)

b    10
c    20
d    30
e    40
f    50
dtype: int64

### 14. Use the sort_values() method to sort the Series in ascending order by value.

In [57]:

sorted_series = data2.sort_values()

print('The sorted series:\n',sorted_series)

The sorted series:
 b    10
c    20
d    30
e    40
f    50
dtype: int64

### 15. Save the Series to a text file using the to_csv() method.

In [67]:
data2.to_csv('data2.csv')
print('Series saved to file')

Series saved to file