# Series

In [28]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame

In [29]:
obj=Series([2,4,6,8])
print('The series:\n',obj)
print('\nThe values of the series:\n',obj.values)
print('\nThe index:\n',obj.index)

The series:
 0    2
1    4
2    6
3    8
dtype: int64

The values of the series:
 [2 4 6 8]

The index:
 RangeIndex(start=0, stop=4, step=1)

In [30]:
obj=Series([10,20,30,40],index=['Maathar','Noor','Fatma','Jehan'])
obj

Maathar    10
Noor       20
Fatma      30
Jehan      40
dtype: int64

In [31]:
obj['Maathar']

10

In [32]:
obj[obj==40]

Jehan    40
dtype: int64

In [40]:
obj[obj>25]

Fatma    30
Jehan    40
dtype: int64

In [34]:
'Noor' in obj

True

In [39]:
print('Th series:\n',obj)
obj_dic=obj.to_dict()
print('\nThe dictionary of the series:\n',obj_dic)

Th series:
 Maathar    10
Noor       20
Fatma      30
Jehan      40
dtype: int64

The dictionary of the series:
 {'Maathar': 10, 'Noor': 20, 'Fatma': 30, 'Jehan': 40}

In [41]:
original=Series(obj_dic)
original

Maathar    10
Noor       20
Fatma      30
Jehan      40
dtype: int64

In [42]:
name=['Maathar','Noor','Fatma','Jehan','Asma']
obje=Series(obj_dic,index=name)
obje

Maathar    10.0
Noor       20.0
Fatma      30.0
Jehan      40.0
Asma        NaN
dtype: float64

In [43]:
pd.isnull(obje)

Maathar    False
Noor       False
Fatma      False
Jehan      False
Asma        True
dtype: bool

In [44]:
pd.notnull(obje)

Maathar     True
Noor        True
Fatma       True
Jehan       True
Asma       False
dtype: bool

In [46]:
obje.index.name='name'
obje

name
Maathar    10.0
Noor       20.0
Fatma      30.0
Jehan      40.0
Asma        NaN
dtype: float64

In [48]:
obje.name='Students grades'
obje

name
Maathar    10.0
Noor       20.0
Fatma      30.0
Jehan      40.0
Asma        NaN
Name: Students grades, dtype: float64

In [49]:
print(obj)
print(obje)
new=obj+obje
print (new)

Maathar    10
Noor       20
Fatma      30
Jehan      40
dtype: int64
name
Maathar    10.0
Noor       20.0
Fatma      30.0
Jehan      40.0
Asma        NaN
Name: Students grades, dtype: float64
Asma        NaN
Fatma      60.0
Jehan      80.0
Maathar    20.0
Noor       40.0
dtype: float64